<%=content_for :title do%>publier du contenu du linkedin<%end%><h1>Publier du Contenu</h1>
<p>dis à gemini que tu veux publier contenu comme si tu es expert en création de contenu marketing. Ecris le plan du contenu pour 1 mois, pour la gestion du projet, la coordination, l'optimisation des processus pour le directeur des opérations, le responsable RH ou le dirigeant de la structure. Ton que tu veux, et pour chaque contenu ou publication rentre dans le détail. </p>
