<h1>Editing ikigai methode</h1>

<%= render "form", ikigai_methode: @ikigai_methode %>

<br>

<div>
  <%= link_to "Show this ikigai methode", @ikigai_methode %> |
  <%= link_to "Back to ikigai methodes", ikigai_methodes_path %>
</div>
