<%=content_for :title do%>methode ikigai<%end%>
<h1>Ikigai</h1>
<p>la méthode ikigai est ce en quoi vous êtes bons, vos talents naturels, ce dont le monde a besoin, pour quoi être payé, ce dont il y a besoin sur le marché, demander à Gemini de compléter le dessin Ikigai avec mes compétences ou regarder sur Emploi Store</p>
