<%=content_for :title do%>nano banana<%end%><h1>NanoBanana</h1>
<p>nano banan sert à faire d'un selfie une photo pro soignée, avec un style pro, moderne et accessible, tu peux préciser le secteur de métier, le style vestimentaire, la posture et le fond que tu veux.</p>
