<h1>Editing employeur type</h1>

<%= render "form", employeur_type: @employeur_type %>

<br>

<div>
  <%= link_to "Show this employeur type", @employeur_type %> |
  <%= link_to "Back to employeur types", employeur_types_path %>
</div>
