<%=content_for :title do%>maintenir à jour la liste des offres<%end%>
<h1>Liste des Offres d'Emploi</h1>
<p>dis à gemini : par exemple en recherche d'emploi de coordinateur métiers, fais une structure de tableau avec les colonnes entreprise lieu poste statut date d'envoi. Obtient le tableau sur google sheets et demande à gemini comment tu peux tenir à jour ce document.
</p>
