<div id="<%= dom_id canal_recrutement %>">
  <p>
    <strong>Name:</strong>
    <%= canal_recrutement.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= canal_recrutement.city_id %>
  </p>

</div>
