<h1>Editing canal recrutement</h1>

<%= render "form", canal_recrutement: @canal_recrutement %>

<br>

<div>
  <%= link_to "Show this canal recrutement", @canal_recrutement %> |
  <%= link_to "Back to canal recrutements", canal_recrutements_path %>
</div>
