<%=content_for :title do%>mot cle pour la lettre de motivation<%end%><h1>Mot-Clé pour la lettre de motivation</h1>
<p>ce qu'on oublie souvent dans le CV est l'éexpérience et de préciser débutant ou confirmé, senior ou apprenti.
On onblie le ton (formel ou passionné) qu'on veut choisir. Les compétences sont écrites avec les mot-clés. On oublie d'ajouter des preuves (succès concret ou missions réussies). Dis à gemini d'agir comme un consultant en recrutement expérimenté et analyser les compétences pour trouver des mots clés qui sont absent du CV/ et/ou de l'offre d'emploi. Gemini trouve des mots comme relationnel, terrain, gestion d'urgences, adaptabilité.
</p>
