<%=content_for :title do%>booster le cv<%end%><h1>Booster le Cv</h1>
<p>ATS veut dire applicant tracking system c'est un robot de tri qui trie les CV avant les humains. il analyse la distance du domicile, les diplomes. Dis à gemini d'analyser l'offre d'emploi en donnant les mots clés, les compétences techniques ou comportementales dans le profile et l'expérience, et une phrase à intégrer dans la phrase d'accroche du CV.
</p>
