<%=content_for :title do%>portfolio<%end%><h1>Portfolio</h1>
<p>dans ton portfolio privilégie la qualité à la quantité. Fais comme des études de cas (2 ou 3) avec une cohérence visuelle et vérifie que ton site fonctionne sur mobile.
Par exemple si on fait le profile d'Alex en structure de site web, donne à gemini le CV, dis à gemini  donne 3 réalisations impresssionnantes pour un responsable RH. Gemini va faire une page d'accueil avec pitch, impact en chiffres, pied de page. La même chose pour page savoir faire et page réalisations.</p>

