<%=content_for :title do%>résumé sur linkedin<%end%><h1>Linkedin Resume</h1>
<p>dis à gemini que tu veux optimiser la section du résumé sur LinkedIn pour tel poste (dis le nom du poste) dans une entreprise (dis le nom de l'entreprise) avec une phrase d'accroche, 3 points avec un role chacun, 2 realisations majeures avec des chiffres, et utilise des verbes d'action fort </p>
