<div id="<%= dom_id employeur %>">
  <p>
    <strong>Name:</strong>
    <%= employeur.name %>
  </p>

  <p>
    <strong>Secteur:</strong>
    <%= employeur.secteur_id %>
  </p>

  <p>
    <strong>Employeur type:</strong>
    <%= employeur.employeur_type_id %>
  </p>

</div>
