<h1>Editing employeur</h1>

<%= render "form", employeur: @employeur %>

<br>

<div>
  <%= link_to "Show this employeur", @employeur %> |
  <%= link_to "Back to employeurs", employeurs_path %>
</div>
