<%=content_for :title do%>pitch de présentation<%end%><h1>PresentezVous</h1>
<p>pour se préparer à l'entretien en face à face, les gens ont peur de pas arriver à se vendre ou quels mots choisir. Quand le recruteur dit présentez vous, il faut faire un pitch de présentation. Dis à gemini : agis comme un coach en carrière expert en recrutement, fais une présentation de 1 minute, en utilisant le passé , présent et futur avec un ton pro, des phrases courtes, comme si c'était à l'oral. Gemini répond pour Alex, un coordinateur de projets son expérience et ses projet (passé) pour le présent et futur ses projets professionnel avec des chiffres clés. </p>
<p>
<b>présent</b>

Bonjour, je m’appelle <select><option>anne onimme</option><option>Sarah</option></select>, je suis <select><option>sans emploi</option><option>étudiant en 2e année de Bachelor Marketing à l’ESG</option></select>. Je recherche <select><option>un emploi le plus tôt possible</option><option>un stage de 6 mois en marketing digital, à partir de février</option></select>.  Je maîtrise <select><option>python et ruby</option><option>Google Analytics et la gestion de campagnes publicitaires</option></select>. De plus, je suis très à l’aise avec le travail en équipe et la gestion du temps. Je suis passionné par le <select><option>l'informatique</option><option>marketing digital</option></select>. <select><option></option><option>J’ai d’ailleurs lancé un compte Instagram sur l’art local qui a atteint 3 000 abonnés en 6 mois.</option></select>
</p>
<p><b>passé</b>
 Lors de mon stage chez ..............., une entreprise spécialisée dans ................, le département de ................. rencontrait des difficultés à .............

Ma mission principale consistait à .................

J’ai commencé par ................. Ensuite, j’ai .....................

Grâce à ces initiatives, nous avons réussi à ..................... Cette réussite a permis à l’entreprise ................
</p>
<p><b>futur</b> Je suis convaincue que vos projets en ............., notamment ............, correspondent parfaitement à mes ambitions. J’aimerais mettre à profit mes compétences en ............... pour contribuer à la croissance de vos clients. »</p>
