<%=content_for :title do%>comment je pourrai tout automatiser ?<%end%><h1>Automatiser les Demarches de recherche d'emploi</h1>
<p>les gems dans l'assistant virtuel sont quand je repete une seule fois toute l'information à gemini. Dis à gemini : je te partage 1 seule fois mon CV, quand je te partage une offre d'emploi tu es mon rédacteur de candidatures personnalisé, liste 3 compétences fortes qui vont avec l'offre d'emploi et mon CV et envoie moi une candidature dans un brouillon d'email avec un ton professionnel.</p>
