<%=content_for :title do%>la lettre de motivation avec moi, vous, nous<%end%><h1>Moi, Vous, Nous</h1>
<p>dis à gemini d'écrire une lettre de motivation avec l'ordre moi, vous, nous avec ton un pro, dynamique,et chaleureux. Gemini répond vous l'entreprise, moi focus sur mon expertise et nous projection d'une collaboration.</p>
