<%=content_for :title do%>hero section<%end%><h1>Hero Section</h1>
<p>fais une hero section dans ton portfolio (site web perso) pour muscler ton storytelling. dis à gemini : écrire dans la page d'accueil mes points fort avec un ton rassurant, pro pour le directeur des opérations. Tu peux choisir entre 2 choix de ton : sobre ou original(audacieux)</p>
