<%=content_for :title do%>gemini live<%end%><h1>Gemini Live</h1>
<p>active gemini live sur ton mobile dans l'application pour pouvoir parler à gemini de vive voix. Dis à gemini de simuler un entretien pour une offre d'emploi puis demande lui de te débriefer sur ta performance, le dynamisme, la clarté, l'impact, et de corriger éventuellement quelques tics à l'oral.</p>
